
/.idea
.DS_Store
/build
/captures

/images
/gradle

*/build

*/bin

*/gen

*/.setting

*/.gradle



build/


.gradle/

gradlew

gradlew.bat

.idea/


lint.xml

.classpath

bin/

gen/

obj/

output/

.settings/

*.class

*.iml

gradle/

.bash_profile

#*.properties

*.apk

*/proguard-rules.txt

*/proguard-project.txt

/projectFilesBackup

local.properties

*.jks

